[client]
port                           = 3306
socket                         = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket                         = /var/run/mysqld/mysqld.sock

[mysqld]
user                           = mysql
pid-file                       = /var/run/mysqld/mysql.pid
socket                         = /var/run/mysqld/mysqld.sock
port                           = 3306
datadir                        = /var/lib/mysql
max_allowed_packet             = 64M

## Configure Galera Clustering

# Path to Galera library
{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}
wsrep_provider=/usr/lib/libgalera_smm.so
{% elif ansible_distribution == "CentOS" or ansible_distribution == "Red Hat Enterprise Linux" %}
wsrep_provider=/usr/lib64/libgalera_smm.so
{% endif %} 

# Cluster connection URL contains IPs of all nodes
## The Nodes in this cluster are as follows:
{% for node in groups['mysql_servers'] %}
# - {{ hostvars[node]['ansible_hostname'] }} ({{ hostvars[node]['ansible_eth0']['ipv4']['address'] }})
{% endfor %}
{% if groups['mysql_servers']|count > 1 %}
wsrep_cluster_address=gcomm://{% for node in groups['mysql_servers'] %}{{ hostvars[node]['ansible_eth0']['ipv4']['address'] }}{% if not loop.last %},{% endif %}{% endfor %}:4568
{% else %}
wsrep_cluster_address=gcomm://
{% endif %}

# In order for Galera to work correctly binlog format should be ROW
binlog_format=ROW

# MyISAM storage engine has only experimental support
default_storage_engine=InnoDB

# This changes how InnoDB autoincrement locks are managed and is a requirement for Galera
innodb_autoinc_lock_mode=2

# Node IP address
wsrep_node_address={{ ansible_default_ipv4.address }}:4568

# Cluster name
wsrep_cluster_name={{ mysql_cluster_name | default("mysql") }}

# SST method
wsrep_sst_method=xtrabackup-v2

#Authentication for SST method - not used at present
# wsrep_sst_auth="sstuser:s3cretPass"

## Configure InnoDB

# Create one file per table
innodb_file_per_table = 1
innodb_data_file_path=ibdata1:10M:autoextend
# Set buffer pool size to 50-80% of your computer's memory
innodb_buffer_pool_size={{ ansible_memtotal_mb // 2 }}M
innodb_additional_mem_pool_size=20M
#
# Set the log file size to about 25% of the buffer pool size
innodb_log_file_size={{ ansible_memtotal_mb // 4 }}M
innodb_log_buffer_size=8M
#
innodb_flush_log_at_trx_commit=1

[mysql]
{% if ansible_distribution == "Debian" or ansible_distribution == "Ubuntu" %}
!includedir /etc/mysql/conf.d
{% elif ansible_distribution == "CentOS" or ansible_distribution == "Red Hat Enterprise Linux" %}
!includedir /etc/my.cnf.d
{% endif %} 

 
